{% extends 'saude/base.html' %}

{% block content %}
<h2>Relatório de Atendimentos</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Prioridade</th>
      <th>Data / Hora</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
    <tr>
      <td>{{ paciente.nome }}</td>
      <td>{{ paciente.get_prioridade_display }}</td>
      <td>{{ paciente.data_consulta|date:"d/m/Y H:i" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
